/* On ScrollTrigger */
li.active::before {
  color: white;
}

/* Year circle fill on ScrollTrigger */
li.active svg circle.primary {
  fill: #202D25;
}
/* Year circle stroke on ScrollTrigger */
li.active svg circle.secondary {
  stroke-dashoffset: 0;
  stroke: #202D25;
}

/* Timeline color animation on scroll */
li.event.active::after {
  height: 100%;
}

/* Border color animation on scroll  */
article.active::before {
  width: 100%;
}

li.active.sole-left span::before,
li.active.both span::before,
li.active.sole-right span::after,
li.active.both span::after {
  background: #202D25;
}

li.active span {
  border-color: #202D25;
}
