article {
  width: 415px;
}

/* Year with only National Events */
.sole-left .national {
  margin-left: -300px;
}

/* Year with only Durham Events */
.sole-right .durham {
  margin-left: 40px;
}

/* Year with both National and Durham Events */
.both .durham {
  margin-left: 120px;
}

/* On ScrollTrigger */
li.active::before {
  color: white;
  background: #202D25;
  border-color: #202D25;
}

li.active article.national {
  border-color: #D5CC7F;
}

li.active.sole-left span::before {
  background: #D5CC7F;
}

li.active article.durham {
  border-color: #41796f;
}

li.active.sole-right span::after {
  background: #41796f;
}

li.active.both span::before {
   background: #D5CC7F;
}

li.active.both span::after {
  background: #41796f;
}
