article {
  width: 415px;
}

/* Year with only National Events */
.sole-left .national {
  margin-left: -300px;
}

/* Year with only Durham Events */
.sole-right .durham {
  margin-left: 40px;
}

/* Year with both National and Durham Events */
.both .durham {
  margin-left: 120px;
}

/* On ScrollTrigger */
li.active::before {
  color: white;
}

/* Year cirle stroke fill on ScrollTrigger */
li.active svg circle {
  fill: #202D25;
  stroke-dashoffset: 0;
  stroke: #202D25;
}

/* timeline color animation on scroll */
li.active::after {
  height: 100%;
}

/* border color animation on scroll  */
article.active::before {
  width: 100%;
}

li.active.sole-left span::before {
  background: #D5CC7F;
}

li.active.sole-right span::after {
  background: #41796f;
}

li.active.both span::before {
   background: #D5CC7F;
}

li.active.both span::after {
  background: #41796f;
}
